.idea/
src/MatchData.Dropper/bin/
src/MatchData.Dropper/obj/
test/MatchData.Dropper.Tests/bin/
test/MatchData.Dropper.Tests/obj/

src/HelloWorld/bin/
src/HelloWorld/obj/
/test/HelloWorld.Tests/bin/
/test/HelloWorld.Tests/obj/
/test/HelloWorld.Test/obj/Debug/netcoreapp2.1/HelloWorld.Tests.AssemblyInfo.cs
/test/HelloWorld.Test/obj/Debug/netcoreapp2.1/HelloWorld.Tests.AssemblyInfoInputs.cache
/test/HelloWorld.Test/obj/Debug/netcoreapp2.1/HelloWorld.Tests.assets.cache
/test/HelloWorld.Test/obj/HelloWorld.Tests.csproj.nuget.cache
/test/HelloWorld.Test/obj/HelloWorld.Tests.csproj.nuget.dgspec.json
/test/HelloWorld.Test/obj/HelloWorld.Tests.csproj.nuget.g.props
/test/HelloWorld.Test/obj/HelloWorld.Tests.csproj.nuget.g.targets
/test/HelloWorld.Test/obj/project.assets.json
/test/HelloWorld.Test/obj/project.packagespec.json
